.main{
    min-height: 100vh;
    transition: .7s;
}

.square{
    width: 45%!important;
}

hr{
    border: 1px solid #0B5ED7;
    opacity: 1;
}

.dark{
    background-color: rgb(51, 51, 51);
    color: white;
    transition: .4s;
}


.main.dark > .container > .row > .square{
    background-color: rgb(73, 73, 73);
    transition: .4s;
}

.main.dark > .container > .row > .square > hr{
    border: 1px solid orangered;
    opacity: 1;
}

.main.dark > .first > .btn{
    background-color: orangered;
    border-color: orangered;
}